  <%=image_tag("myBackground.jpg",class:"background")%>
  <% provide(:title, "Log in") %>
  <div class="login-page">

          <%=image_tag("welcome.png", :alt=>"welcome.png", class: "image")%>
    <div class="form">

    <%= form_for(:session, url: login_path) do |f| %>
          <div id="f">
              <%= f.label :email %>
              <%= f.email_field :email, class: 'form-control' , placeholder: "username" %>
              <%= f.label :password %>
              <%= f.password_field :password, class: 'form-control', placeholder: "password" %>
          </div>
        <%= f.submit "Log in", id: 'Blogin' %>
        <% end %>
    </div>
  </div>

