<% provide(:title, 'All users') %>
<%= render "layouts/header" %>
<br>
<p>  <%= link_to "new user", users_new_path ,class: "btn btn-primary" %> </p>

<h1>All users</h1>

<%= will_paginate %>

<table class="users">
  <% @users.each do |user| %>
    <tr>
      <td><%= gravatar_for user, size: 50 %></td>
      <td><%= link_to user.name, user %></td>
      <td>  | <%= link_to "delete", user, method: :delete %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate %>
