<% provide(:title, 'ALL THE RESULTS') %>
<%= render "layouts/header" %>

<h1>ALL The Result</h1>


DNA UPLOADS
  <thead>
    <tr>
      <th>Name</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
<% @dnas.each do |dna| %>
    <% if dna.user_id == @user.id %>
        <tr>
          <td><%= dna.name  %></td>dfh
          <td><%= link_to "Download Image", dna.attachment_url %></td>
        </tr>
    <% end %>
  <% end %>
  </tbody>

</table>
</br>
<table class = "table"></br>
  COUNT CELLS UPLOADS
  <thead>
  <tr>
    <th>Name</th>
    <th> </th>
  </tr>
  </thead>

  <tbody>
  <% @counts.each do |counter| %>
    <% if counter.user_id == @user.id %>
      <tr>
        <td><%= counter.name  %></td>
        <td><%= link_to "Download Image", counter.attachment_url %></td>
      </tr>

  <% end %>
  <% end %>
  </tbody>

</table>
</br>
</br>
<table class = "table"></br>
COMPARE CELL UPLOADS
  <thead>
    <tr>
      <th>Name</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
  <% @compares.each do |compare| %>
    <% if compare.user_id == @user.id%>
      <tr>
        <td><%= compare.name  %></td>
        <td><%= link_to "Download Image", compare.attachment_url %></td>
      </tr>
      <% end %>
  <% end %>
  </tbody>
</table>
