<% provide(:title, @user.name) %>
<%= render "layouts/header" %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <%= @user.email %>
      </h1>
    </section>
  </aside>
</div>
<table class = "table"></br>
DNA UPLOADS
  <thead>
    <tr>
      <th>Name</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
<% @dnas.each do |dna| %>
    <% if dna.user_id == @user.id %>
        <tr>
          <td><%= dna.name  %></td>dfh
          <td><%= link_to "Download Image", dna.attachment_url %></td>
        </tr>
    <% end %>
  <% end %>
  </tbody>

</table>
</br>
<table class = "table"></br>
  COUNT CELLS UPLOADS
  <thead>
  <tr>
    <th>Name</th>
    <th> </th>
  </tr>
  </thead>

  <tbody>
  <% @counts.each do |counter| %>
    <% if counter.user_id == @user.id %>
      <tr>
        <td><%= counter.name  %></td>
        <td><%= link_to "Download Image", counter.attachment_url %></td>
      </tr>

  <% end %>
  <% end %>
  </tbody>

</table>
</br>
</br>
<table class = "table"></br>
COMPARE CELL UPLOADS
  <thead>
    <tr>
      <th>Name</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
  <% @compares.each do |compare| %>
    <% if compare.user_id == @user.id%>
      <tr>
        <td><%= compare.name  %></td>
        <td><%= link_to "Download Image", compare.attachment_url %></td>
      </tr>
      <% end %>
  <% end %>
  </tbody>
</table>
