<% provide(:title, "Dna Cells") %>
<%= render "layouts/header" %>
<% if !flash[:notice].blank? %>
    <div class = "alert alert-info">
      <%= flash[:notice] %>
    </div>
<% end %>

<br />
<h1>DNA Damage AND Aggressive</h1><br/>
<br />

<%= link_to "New Images", new_dna_path, class: "btn btn-primary" %>
<script>
    $('#check_all').on("click", function(){
        var cbxs = $('input[type="checkbox"]');
        cbxs.prop("checked", !cbxs.prop("checked"));
    });
</script>
<br />
<br />

<table class = "table">

  <thead>
  <tr>
    <th>Name</th>
    <th>Download Link</th>
    <th>red rate</th>
    <th>blue rate</th>
    <th>blue/red</th>
    <th> </th>
  </tr>
  </thead>

  <tbody>
  <% @dnas.each do |dna| %>
      <tr>

        <td><%= dna.name  %></td>
        <td><%= link_to "Download Image",dna.attachment_url %></td>
        <td><%=dna.red%></td>
        <td><%=dna.blue%></td>
        <td><%=dna.ratio%></td>
        <td><%= button_to "Delete",  dna, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{dna.name}?" %></td>
      </tr>


  <% end %>
  </tbody>

</table>

