<% provide(:title, "Contact Us") %>
<%= render "layouts/header" %>
<h1 class='page_title'>Contact Us!</h1>

<div class="skinny">

  <%= form_for @contact do |f| %>
      <%= f.label :name %> <br>
      <%= f.text_field :name, required:' true'%>

      <br>

      <%= f.label :email %> <br>
      <%= f.email_field :email, required:' true'%>

      <br><br>

      <%= f.label :message %> <br>
      <%= f.text_field :message, as: :text %>

      <div class="hidden">
        <%= f.label :nickname %> <br><br>
        <%= f.text_field :nickname,hint: 'leave this field blank' %>
      </div>
    <br><br><br>
      <%= f.submit 'Send Message', class: 'button'%>
  <%end%>
</div>