<% provide(:title, "Compare Cells") %>
<%= render "layouts/header" %>
<% if !flash[:notice].blank? %>
    <div class = "alert alert-info">
      <%= flash[:notice] %>
    </div>
<% end %>

<br />
<h1>Movment After Treatment</h1><br/>
<br />
<%= link_to "New Images", new_compare_path, class: "btn btn-primary" %>
<script>
    $('#check_all').on("click", function(){
        var cbxs = $('input[type="checkbox"]');
        cbxs.prop("checked", !cbxs.prop("checked"));
    });
</script>
<br />
<br />

<table class = "table">

  <thead>
  <tr>
    <th>Name</th>
    <th>Download Link</th>
    <th>Result after processing</th>
    <th> </th>
  </tr>
  </thead>

  <tbody>
  <% @compares.each do |compare| %>
     <% if compare.user_id == @user_id%>
      <tr>

        <td><%= compare.name  %></td>
        <td><%= link_to "Download Image", compare.attachment_url %></td>
        <td><%=compare.result%></td>
        <td><%= button_to "Delete",  compare, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{compare.name}?" %></td>
      </tr>
<% end %>
  <% end %>
  </tbody>

</table>
<p>  <%= link_to "Excel", compares_path(format: "xls") , class: "btn btn-primary"%> </p>

