<% provide(:title, "Compare Cells")%>
<%= render "layouts/header" %>
<% if !@compare.errors.empty? %>
    <div class = "alert alert-error">

      <ul>
        <% @compare.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>

    </div>
<% end %>

<div class = "skinny">
  <%= form_for @compare, html: { multipart: true } do |f| %>
      <div color="black">
      <%= f.label :name %>
      <%= f.text_field :name%>
      <%= f.label :attachment %>
      <%= f.file_field :attachment %>
        <div class="addIMGButtonSubmit"><%= f.submit "Save", class: "btn btn-success" %></div>
        <div class="addIMGButtonBack"><%= link_to 'Back', url_for(:back),class: "btn btn-danger"  %></div>
      </div>
      </div>
      </font>
  <% end %>
