<% provide(:title, "Compare Cells") %>
<%= render "layouts/header" %>
<% if !@compare.errors.empty? %>
    <div class = "alert alert-error">

      <ul>
        <% @compare.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>

    </div>
<% end %>

<div class = "uploadFile">
  <%= form_for @compare, html: { multipart: true } do |f| %>
      <font color="black">
      <%= f.label :name %>
      <%= f.text_field :name%>
      <%= f.label :attachment %>
      <%= f.file_field :attachment %>
      <%= f.submit "Save", class: "btn btn-primary" %>
        <%= link_to 'Back', url_for(:back),class: "btn btn-primary"  %>
      </font>
  <% end %>
</div>