
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<% provide(:title, "Home") %>
<%= render "layouts/header" %>
<html>
<head>
</head>
<body>

<%=image_tag("myBackground.jpg",class:"background")%>

  <div class="container">
    <h1>Start Working On Our System </h1><br>
    
    <div style="float:left" class="content"><%= link_to 'Movment After Treatment',compares_path, class: 'btn' %></div><br>
    <div style="float:left" class="content"><%= link_to 'Count Cells',counts_path, class: 'btn' %></div><br>
    <div style="float:left"  class="content"><%= link_to 'DNA Damage AND Aggressive',dnas_path, class: 'btn' %></div>
    <br>
    <br>
  </div>

</body>
</html>
