
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<% provide(:title, "Home") %>
<html>
<head>
</head>
<body>

<ul id = 'header'>
  <li><%= link_to 'Settings','#', class: 'btn' %></li>
  <li><%= link_to 'Contact','#', class: 'btn' %></li>
  <li><%= link_to "Profile", current_user %></li>

  <li style="float:right"><%= link_to 'Log Out', logout_path, method: "delete", class: 'btn'%></li>
</ul>


<div class="container">

  <h1>Start Working On Our System </h1>


  <br>
  <div class="content">
          <%= link_to 'Compare Between Cells',uploads_compare_treatment_path, class: 'btn' %>
  </div>
   <br>


  <div class="content">
      <%= link_to 'Count Cells',uploads_count_cells_path, class: 'btn' %>
  </div>

  <br>
  <div class="content">
    <%= link_to 'DNA Damage AND Aggressive',uploads_dna_damage_path, class: 'btn' %>
  </div>

</div>


</body>
</html>
