<% provide(:title, "Count Cells") %>
<%= render "layouts/header" %>
<% if !flash[:notice].blank? %>
    <div class = "alert alert-info">
      <%= flash[:notice] %>
    </div>
<% end %>

<br />

<%= link_to "New Images", new_count_path, class: "btn btn-primary" %>
<button type="button" id="check_all" class="btn btn-info"><%="Check/Uncheck"%></button>
<%= link_to "Send!", new_count_path, class: "btn btn-success"%>
<script>
    $('#check_all').on("click", function(){
        var cbxs = $('input[type="checkbox"]');
        cbxs.prop("checked", !cbxs.prop("checked"));
    });
</script>
<br />
<br />

<table class = "table">

  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Download Link</th>
    <th> </th>
  </tr>
  </thead>

  <tbody>
  <% @counts.each do |count| %>
      <tr>
        <td id="s"><%= check_box_tag(:pet_cat) %></td>
        <td><%= count.name  %></td>
        <td><%= link_to "Download Image", count.attachment_url %></td>
        <td><%= button_to "Delete",  count, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{count.name}?" %></td>

      </tr>


  <% end %>
  </tbody>

</table>