<% provide(:title, "Count Cells") %>
<%= render "layouts/header" %>
<% if !flash[:notice].blank? %>
    <div class = "alert alert-info">
      <%= flash[:notice] %>
    </div>
<% end %>

<br />

<%= link_to "New Images", new_count_path, class: "btn btn-primary" %>
<br />
<br />

<table class = "table">

  <thead>
  <tr>
    <th>Name</th>
    <th>Download Link</th>
    <th> </th>
  </tr>
  </thead>

  <tbody>
  <% @counts.each do |count| %>
      <tr>
        <td><%= count.name  %></td>
        <td><%= link_to "Download Image", count.attachment_url %></td>
        <td><%= button_to "Delete",  count, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{count.name}?" %></td>

      </tr>


  <% end %>
  </tbody>

</table>